
@import 'Styles/styleVariable.scss';

body {
  margin: 0;
}
.header-container{
  background-color: $primary-color;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

}

.logo h1{
  color: $secondary-color;
  font-family: 'Roboto',sans-serif;

}
.nav-links{
  display: flex;
  gap: 30px;

}
.nav-links a{
  margin-top: 25px;
  height: 20px;
  display: flex;
  cursor: pointer;
  color: $secondary-color;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;


}
.nav-links a:hover {
 border-color: $secondary-color;
}
