<div class="header-container">
  <div class="logo">
    <h1>NexaSoft</h1>
  </div>
  <div class="nav-links">
    <a routerLink="/Home" routerLinkActive="active-link">Home</a>
    <a routerLink="/Empresa" routerLinkActive="active-link">Empresa</a>
    <a routerLink="/Servicos" routerLinkActive="active-link">Serviços</a>
    <a routerLink="/Clientes" routerLinkActive="active-link">Clientes</a>
    <a routerLink="/Blog" routerLinkActive="active-link">Blog</a>
    <a routerLink="/Contato" routerLinkActive="active-link">Contato</a>
  </div>
</div>
