body,html {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: black;

}

.backgroundhome {
  background-color: black;
  align-items: center;
  padding: 0 50px;
  flex-direction: column;
}

.quadrante01 {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;


}


.Titledestac {
  margin-top: 200px;
  font-family: 'Roboto';
  color: white;
  font-weight: 400;
  font-size: 50px;
  max-width: 600px;
}

.Titledestac span {
  margin-top: 150px;
  font-family: 'Roboto';
  color: #87FD18;
  font-weight: 700;
  font-size: 50px;
}

.paragrapy01 {
  color: rgb(184, 184, 184);
  margin-top: 20px;
  font-family: 'Roboto';
  flex-direction: column;
  max-width: 500px;
  font-size: 20px;
}

.paragrapy01 span {
  color: white;
  font-weight: 600;

}

.buttonprimary {
  background-color: #87FD18;
  padding: 20px;
  border-radius: 25px;
  color: black;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: background 0.3s ease;
}

.buttonprimary:hover {
  background: linear-gradient(90deg, rgba(170, 255, 0, 1) 0%, rgba(0, 255, 106, 1) 50%, rgba(0, 0, 0, 1) 100%);


}

.button {
  display: flex;
  gap: 20px;
}

.slider {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.slider img {
  margin-top: 10px;
  width: 90%;
  height: auto;
  margin-left: auto;
  display: block;

  -webkit-mask-image:
    linear-gradient(to right, transparent, black 20%, black 80%, transparent),
    linear-gradient(to top, transparent, black 20%, black 80%, transparent);

  -webkit-mask-composite: intersect;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;

  mask-image:
    linear-gradient(to right, transparent, black 20%, black 80%, transparent),
    linear-gradient(to top, transparent, black 20%, black 80%, transparent);

  mask-composite: intersect;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
}
@media (max-width: 768px) {

  .quadrante01 {
    flex-direction: column;
    text-align: center;
    padding: 20px;
    height: auto;
  }

  .Titledestac,
  .Titledestac span {
    font-size: 30px;
    max-width: 100%;
    margin: 150px auto 0 auto;
  }

  .paragrapy01 {
    font-size: 16px;
    text-align: center;
    padding: 10px;
    max-width: 90%;
    margin: 20px auto;
  }

  .button {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
  }

  .slider {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px auto 0;
  }

  .slider img {
    width: 90%;
    margin: 0 auto;
    display: block;
  }


}
@media (max-width:1291px){
  .texts p {
    margin-top: 50px;
    max-width: 500%;
    padding-right: 30px;
    
  }
}
