body,html {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: black;

}

.backgroundhome {
  background-color: black;
  align-items: center;
  padding: 0 50px;
  flex-direction: column;
}

.quadrante01 {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;


}


.Titledestac {
  margin-top: 200px;
  font-family: 'Roboto';
  color: white;
  font-weight: 400;
  font-size: 50px;
  max-width: 600px;
}

.Titledestac span {
  margin-top: 150px;
  font-family: 'Roboto';
  color: #87FD18;
  font-weight: 700;
  font-size: 50px;
}

.paragrapy01 {
  color: rgb(184, 184, 184);
  margin-top: 20px;
  font-family: 'Roboto';
  flex-direction: column;
  max-width: 500px;
  font-size: 20px;
}

.paragrapy01 span {
  color: white;
  font-weight: 600;

}

.buttonprimary {
  background-color: #87FD18;
  padding: 20px;
  border-radius: 25px;
  color: black;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: background 0.3s ease;
}

.buttonprimary:hover {
  background: linear-gradient(90deg, rgba(170, 255, 0, 1) 0%, rgba(0, 255, 106, 1) 50%, rgba(0, 0, 0, 1) 100%);


}

.button {
  display: flex;
  gap: 20px;
}

.slider {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.slider img {
  margin-top: 10px;
  width: 90%;
  height: auto;
  margin-left: auto;
  display: block;

  -webkit-mask-image:
    linear-gradient(to right, transparent, black 20%, black 80%, transparent),
    linear-gradient(to top, transparent, black 20%, black 80%, transparent);

  -webkit-mask-composite: intersect;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;

  mask-image:
    linear-gradient(to right, transparent, black 20%, black 80%, transparent),
    linear-gradient(to top, transparent, black 20%, black 80%, transparent);

  mask-composite: intersect;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
}

.Nossos-clientes {
  margin-top: 150px;
  color: white;
  text-align: center;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 500;

}

.carrossel {
  width: 90%;
  margin: 20px auto;
}

.carrossel .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 0 5px;
  box-sizing: border-box;
}

.carrossel .slick-slide img {
  max-width: 90%;
  max-height: 80px;
  width: auto;
  height: auto;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.carrossel .slick-list {
  margin: 0 -5px;
}


.Text02 h1 {
  margin-top: 150px;
  font-family: 'Roboto';
  color: white;
  font-weight: 400;
  font-size: 50px;
  max-width: 600px;
}

.Text02 h1 span {
  margin-top: 180px;
  font-family: 'Roboto';
  color: #87FD18;
  font-weight: 700;
  font-size: 50px;
}

.Text02 p {
  color: rgb(184, 184, 184);
  margin-top: 20px;
  font-family: 'Roboto';
  flex-direction: column;
  max-width: 300px;
  font-size: 20px;
}

.quadrante02 {
  display: flex;
  margin-top: 40px;

}

.carrosselServicos {
  gap: 0px;
  width: 60%;
  margin: 50px auto;
}

/* O container de cada slide no carrossel */
.carrosselServicos .slick-slide {
  padding: 0 10px;
  /* Cria um espaçamento entre os cards */
  box-sizing: border-box;
}


.servico-card {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  height: 500px;
  border: #87FD18 3px solid;
}

.imagem-servico {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease;
}

.servico-card:hover .imagem-servico {
  transform: scale(1.05);
}


.servico-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.95) 20%, rgba(0, 0, 0, 0) 100%);
  color: white;
  padding: 30px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}

.servico-titulo {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0 0 15px 0;
  line-height: 1.2;
}

.botao-saiba-mais {
  background-color: #87FD18;
  color: black;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  padding: 12px 25px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.botao-saiba-mais:hover {
  background: linear-gradient(90deg, rgba(170, 255, 0, 1) 0%, rgba(0, 255, 106, 1) 50%, rgba(0, 0, 0, 1) 100%);
  color: white;
  transform: scale(1.05);
}
.quadrante3 .blur{
 width: 200px;
  height: 200px;
  background-color: #87FD18;
  opacity: 0.5;
  filter: blur(50px);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.quadrante3 .texts {
  display: flex;
  justify-content: flex-start; /* ou space-between se quiser extremidades separadas */
  gap: 20px; /* define o espaço horizontal entre h1 e p */
  width: 100%;
  margin-left: 50px;
  margin-right: 50px;

}

.texts h1 {
  color: white;
  font-family: 'Roboto';
  font-weight: 400;
  max-width: 400px;

}

.texts h1 span {
  color: #87FD18;
  font-family: 'Roboto';
  font-weight: 700;
}

.texts p {
  color: rgb(184, 184, 184);
  margin-top: 20px;
  font-family: 'Roboto';
  flex-direction: column;
  font-size: 20px;
  max-width: 700px;
  line-height: 30px;
}

.grupy {
  color: white;
  font-family: 'Roboto';
  flex-direction: column;
  font-size: 20px;
  font-weight: 700;
  margin-top: -10px;
   margin-left: 470px;
}

.container-secton3 {
  border: solid 2px white;
  border-radius: 15px;
  position: absolute;       
  left: 50%; 
  transform: translate(-50%, -50%); /* centraliza exatamente pelo centro */
  padding: 30px;
  margin-top: 300px;
  background: #090f08;
  background: radial-gradient(circle, rgb(6, 139, 1) 0%, rgba(1, 3, 0, 1) 100%);
  width: 80%;
}



@media (max-width: 768px) {

  .quadrante01 {
    flex-direction: column;
    text-align: center;
    padding: 20px;
    height: auto;
  }

  .Titledestac,
  .Titledestac span {
    font-size: 30px;
    max-width: 100%;
    margin: 150px auto 0 auto;
  }

  .paragrapy01 {
    font-size: 16px;
    text-align: center;
    padding: 10px;
    max-width: 90%;
    margin: 20px auto;
  }

  .button {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
  }

  .slider {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px auto 0;
  }

  .slider img {
    width: 90%;
    margin: 0 auto;
    display: block;
  }

  .Nossos-clientes {
    font-size: 30px;
  }


  .quadrante02 {
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
    height: auto;
  }

  .Text02 h1,
  .Text02 h1 span {
    font-size: 30px;
    max-width: 100%;
    margin: 0 auto;
  }

  .Text02 p {
    font-size: 16px;
    text-align: center;
    padding: 10px;
    max-width: 90%;
    margin: 20px auto;
  }

  .carrosselServicos {
    width: 100%;
    margin-top: 40px;
  }

  .servico-card {
    height: 420px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    border: #87FD18 3px solid;
  }

  .servico-titulo {
    font-size: 1.5rem;
  }

  .botao-saiba-mais {
    padding: 10px 22px;
    font-size: 15px;
  }


  .container-secton3 {
    display: flex;          
    flex-direction: column;  
    align-items: center;     
    justify-content: center;
    text-align: center;      
    border: solid 2px white;
    border-radius: 15px;
    position: absolute;       
    padding: 30px;
    margin-top: 600px;
    background: radial-gradient(circle, rgb(6, 139, 1) 0%, rgba(1, 3, 0, 1) 100%);
    width: 50%;
  }

  .quadrante3 .texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0; 
    gap: 15px;
  }

  .texts h1 span {
    font-size: 20px;
    max-width: 50%;
    max-height: 50px;
    margin: 0 auto;
    text-align: center;
  }

  .texts p {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    width: 100%;
    max-width: 100%;
  }

  .grupy {
    color: white;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px; 
    margin-left: 0;
    text-align: center;
  }

}