body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* remove scroll horizontal */

}


.quadrante01{
  background-color: black;
  width: 100%;
  height: 100vh;
  display: flex; /* lado a lado */
  justify-content: space-between; /* espaço entre texto e imagem */
  align-items: center; /* centraliza na vertical */
  padding: 0 50px;
     
}

.Titledestac{
    margin-top: 150px;
    font-family: 'Roboto';
    color: white;
    font-weight: 400;
    font-size: 50px;
    max-width: 600px;  
}
.Titledestac span{
    margin-top: 150px;
    font-family: 'Roboto';
    color:#87FD18;
    font-weight: 700;
    font-size: 50px;
}
.paragrapy01{
    color: rgb(184, 184, 184);
    margin-top: 20px;
    font-family: 'Roboto';
    flex-direction: column;
    max-width: 500px;  
    font-size: 20px;
}

.paragrapy01 span{
    color:white;
    font-weight: 600;
 
}
.buttonprimary{
    background-color: #87FD18;
    padding: 20px;
    border-radius: 25px;
    color: black;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: background 0.3s ease;
}

.buttonprimary:hover{
 background: linear-gradient(90deg,rgba(170, 255, 0, 1) 0%, rgba(0, 255, 106, 1) 50%, rgba(0, 0, 0, 1) 100%);


}
.button{
    display: flex;
    gap: 20px;
}
.slider {
  display: flex;
  justify-content: flex-end; /* joga a imagem para o fim */
  flex: 1; /* ocupa o espaço restante */
}

.slider img {
 margin-top: 10px;
  width: 90%;
  height: auto;
  margin-left: auto;
  display: block;

  -webkit-mask-image: 
    linear-gradient(to right, transparent, black 20%, black 80%, transparent),
    linear-gradient(to top, transparent, black 20%, black 80%, transparent);

  -webkit-mask-composite: intersect;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;

  mask-image: 
    linear-gradient(to right, transparent, black 20%, black 80%, transparent),
    linear-gradient(to top, transparent, black 20%, black 80%, transparent);

  mask-composite: intersect;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
}
