@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* 🎨 Cores principais */
  --color-primary: #000000;
  --color-secondary: #F0FFFF;
  --color-success: #87FD18;
  --color-gray-600: #4B5563;
  --color-bg: #F9FAFB;

  /* 🔤 Fontes */
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Poppins', sans-serif;

  /* 🔠 Pesos da fonte */
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
}
